h2{
    font-weight:bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 30, 73);
    margin-left: 5%;
    text-decoration-line:underline;
  }
#new
{
background-color: lightslategray;
}