body
{
    background-image: url(./sign1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family:'Times New Roman', Times, serif;
}
.ayesha12{
    font-size: larger;
    color:#AED6F1;
}
.ayesha1{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 360px;
    height: 550px;
   border-radius: 10px;
    box-shadow: 7px 7px 10px #000;
}
.login_box{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 360px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #000;

}

h1{
   text-align: center;
   padding-top: 2px;
   color: white;
}

h4{
    text-align: center;
    color: white;
}

form{
    width: 300px;
    margin-left: 20px;
}
form label{
   display:flex;
   margin-top: 20px;
   font-size: 15px;
   color: white;
}

form input{
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="submit"]{
    width: 315px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:#5b24d1;
    color: white;
    font-size: 16px;
}

.para2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 8px;
}
.para2 a{
    color: #AED6F1 ;
}
.ay13
{
    font-weight: bolder;
    text-align: center;
    color: #aace27 ;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: large ;
}
.ayesha2
{
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 12px;
    margin-left: 45px;
    height: 30px;
    width:209px;
}
.ayesha3{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 8px;
}

.ayesha5{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 360px;
    height: 350px;
   border-radius: 10px;
    box-shadow: 7px 7px 10px #000;
}