img{
    max-width: 100%;
    height:auto;
    background:lightgrey;
    background: radial-gradient(white 30%,lightgrey 70%);
    padding: 5%;

}

.fa-star,
.fa-star-half
{
    color: yellowgreen;
    padding:3% 0;
}
.cart_count
{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
    background-color: lightgray;
    color:brown;
    font-weight: bold;
    text-shadow: none;
}
.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 2% 1%;
}
.center{
    width: 150px;
      margin: 10px auto;
      
    }
    .card-body
    {

        background-color: rgb(189, 227, 239);
    }
    .card-title
    {
        color: rgb(20, 20, 93);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }