
img{

width:80%;
height: auto;

}
.book_container{

    float: left;
    background-color:#9ea7b1;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: solid;
    text-align:center;
    padding: 2px;
    height: 450px;
    width:270px;


    
    margin: 5px;
    transition: 0.5s;
}
.value
{
   padding: 1%;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   
}

.book_container:hover{

    box-shadow: 2px 2px 2px 2px rgb(120,108,97);
}
.det
{
  padding-bottom: 1%;
}
.b1
{
font-weight: bolder;
font-size: 18.5px;
font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 13, 105);
    font-display: block;
    text-shadow: 4px 4px 4px rgb(217, 222, 224);
}
.b2
{
    font-weight: bolder;
    font-size: 14px;
    font-display: block;
    font-style:oblique;
    color: rgb(61, 10, 94);
    font-weight: 1000;

}
